%section
  .wrapper
    .blocks
      .block
        .icon.gift
        .block-head
          = template.first_trigger_header
        .block-content
          = template.first_trigger_text
        .button Купить

      .block
        .icon.clipboard
        .block-head
          = template.second_trigger_header
        .block-content
          = template.second_trigger_text
        .button Купить

      .block.last
        .icon.ok
        .block-head
          = template.third_trigger_header
        .block-content
          = template.third_trigger_text
        .button Купить