!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', :media => 'all'
    -# javascript_include_tag 'admin'
  %body
    .wrapper
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{href: '#'}
              ADMIN
            %ul.nav
              %li.divider-vertical
              %li{class: params['controller'] == 'admin/templates' ? 'active' : ''}
                = link_to 'Тексты', edit_admin_template_path
              %li{class: params['controller'] == 'admin/settings' ? 'active' : ''}
                = link_to 'Настройки', edit_admin_setting_path
              %li{class: params['controller'] == 'admin/questions' ? 'active' : ''}
                = link_to 'FAQ', admin_questions_path
              %li{class: params['controller'] == 'admin/reports' ? 'active' : ''}
                = link_to 'Отзывы', admin_reports_path




      .container#main
        .row
          .span12
            = yield
            = yield :scripts
      .push
